@import 'normalize';


body {
  font-family: Helvetica, Arial, "Nimbus Sans L", sans-serif;
  color: black;
  background-color: white;
  line-height: 1.25;
}

main {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 .5em;
}

h1, h2 {
  text-align: center;
}

h1 {
  font-size: 4em;
}

h2 {
  font-size: 8em;
}

li {
  padding-bottom: .5em;
}
